name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Check tidy go modules
      run: |-
         [ -z "$(git status --porcelain)" ] || (echo "Dirty!" && exit 1)
         make tidy
         [ -z "$(git status --porcelain)" ] || (echo "Not tidy!" && exit 1)

    - name: Lint, Build, and Test
      run: make lint vet license-check build test
